<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>D1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,390}</string>
                <key>spriteSourceSize</key>
                <string>{262,390}</string>
                <key>textureRect</key>
                <string>{{0,0},{262,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,390}</string>
                <key>spriteSourceSize</key>
                <string>{262,390}</string>
                <key>textureRect</key>
                <string>{{524,390},{262,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,390}</string>
                <key>spriteSourceSize</key>
                <string>{262,390}</string>
                <key>textureRect</key>
                <string>{{262,0},{262,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,390}</string>
                <key>spriteSourceSize</key>
                <string>{262,390}</string>
                <key>textureRect</key>
                <string>{{524,0},{262,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,390}</string>
                <key>spriteSourceSize</key>
                <string>{262,390}</string>
                <key>textureRect</key>
                <string>{{786,0},{262,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,390}</string>
                <key>spriteSourceSize</key>
                <string>{262,390}</string>
                <key>textureRect</key>
                <string>{{1048,0},{262,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,390}</string>
                <key>spriteSourceSize</key>
                <string>{262,390}</string>
                <key>textureRect</key>
                <string>{{1310,0},{262,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,390}</string>
                <key>spriteSourceSize</key>
                <string>{262,390}</string>
                <key>textureRect</key>
                <string>{{1572,0},{262,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,390}</string>
                <key>spriteSourceSize</key>
                <string>{262,390}</string>
                <key>textureRect</key>
                <string>{{0,390},{262,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,390}</string>
                <key>spriteSourceSize</key>
                <string>{262,390}</string>
                <key>textureRect</key>
                <string>{{262,390},{262,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DJ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,390}</string>
                <key>spriteSourceSize</key>
                <string>{262,390}</string>
                <key>textureRect</key>
                <string>{{786,390},{262,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DK.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,390}</string>
                <key>spriteSourceSize</key>
                <string>{262,390}</string>
                <key>textureRect</key>
                <string>{{1048,390},{262,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DQ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,390}</string>
                <key>spriteSourceSize</key>
                <string>{262,390}</string>
                <key>textureRect</key>
                <string>{{1310,390},{262,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Card_D.png</string>
            <key>size</key>
            <string>{1834,780}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0297b2be51fabfb2deb702bc0e5e9f23:2944d3cd29de647af4b3e3f6658708ae:59bcbefcb85dafbdd858e99d4123c799$</string>
            <key>textureFileName</key>
            <string>Card_D.png</string>
        </dict>
    </dict>
</plist>
