<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>S1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,390}</string>
                <key>spriteSourceSize</key>
                <string>{262,390}</string>
                <key>textureRect</key>
                <string>{{0,0},{262,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,390}</string>
                <key>spriteSourceSize</key>
                <string>{262,390}</string>
                <key>textureRect</key>
                <string>{{524,390},{262,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,390}</string>
                <key>spriteSourceSize</key>
                <string>{262,390}</string>
                <key>textureRect</key>
                <string>{{262,0},{262,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,390}</string>
                <key>spriteSourceSize</key>
                <string>{262,390}</string>
                <key>textureRect</key>
                <string>{{524,0},{262,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,390}</string>
                <key>spriteSourceSize</key>
                <string>{262,390}</string>
                <key>textureRect</key>
                <string>{{786,0},{262,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,390}</string>
                <key>spriteSourceSize</key>
                <string>{262,390}</string>
                <key>textureRect</key>
                <string>{{1048,0},{262,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,390}</string>
                <key>spriteSourceSize</key>
                <string>{262,390}</string>
                <key>textureRect</key>
                <string>{{1310,0},{262,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,390}</string>
                <key>spriteSourceSize</key>
                <string>{262,390}</string>
                <key>textureRect</key>
                <string>{{1572,0},{262,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,390}</string>
                <key>spriteSourceSize</key>
                <string>{262,390}</string>
                <key>textureRect</key>
                <string>{{0,390},{262,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,390}</string>
                <key>spriteSourceSize</key>
                <string>{262,390}</string>
                <key>textureRect</key>
                <string>{{262,390},{262,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SJ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,390}</string>
                <key>spriteSourceSize</key>
                <string>{262,390}</string>
                <key>textureRect</key>
                <string>{{786,390},{262,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SK.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,390}</string>
                <key>spriteSourceSize</key>
                <string>{262,390}</string>
                <key>textureRect</key>
                <string>{{1048,390},{262,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SQ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,390}</string>
                <key>spriteSourceSize</key>
                <string>{262,390}</string>
                <key>textureRect</key>
                <string>{{1310,390},{262,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Card_S.png</string>
            <key>size</key>
            <string>{1834,780}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8124e366fa5d1f917ec23ee672eefd59:b289a6eb7338606485dd8f7e287cba1e:e276ddcc3d9586969efbf91f6a4eb8a6$</string>
            <key>textureFileName</key>
            <string>Card_S.png</string>
        </dict>
    </dict>
</plist>
