<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,390}</string>
                <key>spriteSourceSize</key>
                <string>{262,390}</string>
                <key>textureRect</key>
                <string>{{0,0},{262,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,390}</string>
                <key>spriteSourceSize</key>
                <string>{262,390}</string>
                <key>textureRect</key>
                <string>{{262,0},{262,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,390}</string>
                <key>spriteSourceSize</key>
                <string>{262,390}</string>
                <key>textureRect</key>
                <string>{{524,0},{262,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Card_O.png</string>
            <key>size</key>
            <string>{786,390}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:245a17b81f2ada59aaea189a36d57f9e:698722489ae82bc4256dfe785f3db87a:e022d559fb4f8ea5123dda61ad2a9c1d$</string>
            <key>textureFileName</key>
            <string>Card_O.png</string>
        </dict>
    </dict>
</plist>
