<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,252}</string>
                <key>spriteSourceSize</key>
                <string>{180,252}</string>
                <key>textureRect</key>
                <string>{{181,1508},{180,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,251}</string>
                <key>spriteSourceSize</key>
                <string>{181,251}</string>
                <key>textureRect</key>
                <string>{{542,502},{181,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,251}</string>
                <key>spriteSourceSize</key>
                <string>{181,251}</string>
                <key>textureRect</key>
                <string>{{181,502},{181,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,251}</string>
                <key>spriteSourceSize</key>
                <string>{180,251}</string>
                <key>textureRect</key>
                <string>{{723,502},{180,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,251}</string>
                <key>spriteSourceSize</key>
                <string>{181,251}</string>
                <key>textureRect</key>
                <string>{{180,753},{181,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,251}</string>
                <key>spriteSourceSize</key>
                <string>{180,251}</string>
                <key>textureRect</key>
                <string>{{542,753},{180,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,252}</string>
                <key>spriteSourceSize</key>
                <string>{181,252}</string>
                <key>textureRect</key>
                <string>{{361,1508},{181,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,252}</string>
                <key>spriteSourceSize</key>
                <string>{181,252}</string>
                <key>textureRect</key>
                <string>{{0,1508},{181,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,252}</string>
                <key>spriteSourceSize</key>
                <string>{180,252}</string>
                <key>textureRect</key>
                <string>{{542,1256},{180,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,252}</string>
                <key>spriteSourceSize</key>
                <string>{181,252}</string>
                <key>textureRect</key>
                <string>{{542,1508},{181,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,252}</string>
                <key>spriteSourceSize</key>
                <string>{180,252}</string>
                <key>textureRect</key>
                <string>{{0,1760},{180,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,251}</string>
                <key>spriteSourceSize</key>
                <string>{181,251}</string>
                <key>textureRect</key>
                <string>{{361,0},{181,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,251}</string>
                <key>spriteSourceSize</key>
                <string>{181,251}</string>
                <key>textureRect</key>
                <string>{{542,0},{181,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,251}</string>
                <key>spriteSourceSize</key>
                <string>{180,251}</string>
                <key>textureRect</key>
                <string>{{362,502},{180,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,251}</string>
                <key>spriteSourceSize</key>
                <string>{181,251}</string>
                <key>textureRect</key>
                <string>{{723,0},{181,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,251}</string>
                <key>spriteSourceSize</key>
                <string>{180,251}</string>
                <key>textureRect</key>
                <string>{{0,251},{180,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,252}</string>
                <key>spriteSourceSize</key>
                <string>{181,252}</string>
                <key>textureRect</key>
                <string>{{542,1760},{181,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,252}</string>
                <key>spriteSourceSize</key>
                <string>{181,252}</string>
                <key>textureRect</key>
                <string>{{361,1760},{181,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,252}</string>
                <key>spriteSourceSize</key>
                <string>{180,252}</string>
                <key>textureRect</key>
                <string>{{723,1760},{180,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,252}</string>
                <key>spriteSourceSize</key>
                <string>{181,252}</string>
                <key>textureRect</key>
                <string>{{180,1760},{181,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,252}</string>
                <key>spriteSourceSize</key>
                <string>{180,252}</string>
                <key>textureRect</key>
                <string>{{362,1256},{180,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,251}</string>
                <key>spriteSourceSize</key>
                <string>{181,251}</string>
                <key>textureRect</key>
                <string>{{0,0},{181,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,251}</string>
                <key>spriteSourceSize</key>
                <string>{181,251}</string>
                <key>textureRect</key>
                <string>{{180,251},{181,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,251}</string>
                <key>spriteSourceSize</key>
                <string>{180,251}</string>
                <key>textureRect</key>
                <string>{{181,0},{180,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,251}</string>
                <key>spriteSourceSize</key>
                <string>{181,251}</string>
                <key>textureRect</key>
                <string>{{361,753},{181,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,251}</string>
                <key>spriteSourceSize</key>
                <string>{180,251}</string>
                <key>textureRect</key>
                <string>{{722,753},{180,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,252}</string>
                <key>spriteSourceSize</key>
                <string>{181,252}</string>
                <key>textureRect</key>
                <string>{{722,1256},{181,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,252}</string>
                <key>spriteSourceSize</key>
                <string>{181,252}</string>
                <key>textureRect</key>
                <string>{{181,1256},{181,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,252}</string>
                <key>spriteSourceSize</key>
                <string>{180,252}</string>
                <key>textureRect</key>
                <string>{{361,1004},{180,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,252}</string>
                <key>spriteSourceSize</key>
                <string>{181,252}</string>
                <key>textureRect</key>
                <string>{{0,1256},{181,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,252}</string>
                <key>spriteSourceSize</key>
                <string>{180,252}</string>
                <key>textureRect</key>
                <string>{{722,1004},{180,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,251}</string>
                <key>spriteSourceSize</key>
                <string>{181,251}</string>
                <key>textureRect</key>
                <string>{{542,251},{181,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,251}</string>
                <key>spriteSourceSize</key>
                <string>{181,251}</string>
                <key>textureRect</key>
                <string>{{361,251},{181,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,251}</string>
                <key>spriteSourceSize</key>
                <string>{180,251}</string>
                <key>textureRect</key>
                <string>{{723,251},{180,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,251}</string>
                <key>spriteSourceSize</key>
                <string>{181,251}</string>
                <key>textureRect</key>
                <string>{{0,502},{181,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,251}</string>
                <key>spriteSourceSize</key>
                <string>{180,251}</string>
                <key>textureRect</key>
                <string>{{0,753},{180,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,252}</string>
                <key>spriteSourceSize</key>
                <string>{181,252}</string>
                <key>textureRect</key>
                <string>{{541,1004},{181,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,252}</string>
                <key>spriteSourceSize</key>
                <string>{181,252}</string>
                <key>textureRect</key>
                <string>{{180,1004},{181,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,252}</string>
                <key>spriteSourceSize</key>
                <string>{180,252}</string>
                <key>textureRect</key>
                <string>{{0,1004},{180,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,252}</string>
                <key>spriteSourceSize</key>
                <string>{181,252}</string>
                <key>textureRect</key>
                <string>{{723,1508},{181,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Card.png</string>
            <key>size</key>
            <string>{904,2012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:919fb99aacab84882551def6c739369f:d1db7cf2a9752bbc87ef8265f2cd6874:7a604e4d094c5c24f2d2baa176a2f6c3$</string>
            <key>textureFileName</key>
            <string>Card.png</string>
        </dict>
    </dict>
</plist>
